body {
    margin: 140px 60px 10px 50px;
    width: auto;
/*     background-image: url("/vehicle-wireframe-model.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #ffffff;
}

@font-face {
  font-family: "CenturyOldStyleRegular";
  src: url("/fonts/CenturyOldStyleRegular.otf") format("opentype");
}
nav ul, footer ul {
/*     font-family:'Helvetica', 'Arial', 'Sans-Serif'; */
    font-family: 'CenturyOldStyleRegular';
    text-align:center;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    width: auto;
}
a {
    text-align: center;
    text-decoration: none;
    color: #dd3813;
}
a:hover {
    text-decoration: underline;
}
h1 {
    text-align: center;
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    border-bottom: 3px solid #ff0000;
}
p {
    text-align:center;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    align-items: center;
    border-top: 0px solid #d5d5d5;
    font-size: 1.5em;
}

ul.posts { 
    margin: 20px auto 40px; 
    width: auto;
    font-size: 1.5em;
}

ul.posts li {
    text-align: center;
    list-style: none;
}
